@import url('https://fonts.googleapis.com/css?family=Muli');

html {
  height: 100%;
  font-size: 20px;
  letter-spacing: .02em;
  line-height: 1;
  color: #464646;
  font-family: 'Muli', sans-serif;
}

body {
  height: 100%;
  background-color: #EDFAF9;
  transition: backgroundColor 1s ease-in-out;
  margin: 0;
}

#root {
  height: 100%;
}

img {
  max-width: 100%;
}

.video {
  max-width: 100%;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
  position: relative;
}

.banner {
  position: absolute;
  line-height: 1.2;
  letter-spacing: normal;
  top: 0;
  left: 0;
  font-size: 2.5rem;
  color: #000;
}

.h2-dek {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: .02em;
  color: #464646;
}

.h3-sub-heading {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: .03333em;
  color: #464646;
  font-weight: bold;
}

.feature-image-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  z-index: -1;
  overflow: hidden;
}

.feature-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-width: unset;
}

p {
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: .02em;
  color: #464646;
}

.text {
  padding: 15px 10px 0;
}

.caption {
  font-size: .9rem;
  text-align: center;
  line-height: 1;
  letter-spacing: .02em;
  color: #464646;
  font-style: italic;
  padding-top: 15px;
}

.menu-category {
  font-size: .9rem;
  letter-spacing: .02em;
  line-height: 1;
  color: #464646;
  /* text-decoration-line: underline;
  text-decoration-color: #ccc; */
  white-space: nowrap;
}

.menu-category:after {
  content:"";
  position: absolute;
  z-index: -1;
  left:5px;
  bottom: 5px;
  right:0;
  margin:auto;
  background:rgba(191,190,203,0.3);
  height:2px;
}

.page-title {
  font-size: 1.7rem;
  letter-spacing: normal;
  line-height: 1.4;
  padding-left: 5px;
  margin: 0;
}

footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  font-size: .7rem;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  background-color: rgb(200,201,212);
  height: 140px;
}

.social-container {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-items: center;
}

.social-container > a > svg {
  width: 1.25rem;
  padding: 25px;
}

.nav-wrapper {
  position: relative;
  height: 192px;
  /* padding: 0 5px; */
}

.content {
  z-index: -2;
  padding-bottom: 140px;
}

.tabs > .nav-item {
  transition-duration: 1s;
  padding: 0;
  z-index: 1;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  color: #464646;
  height: 20px;
}

.tabs > .nav-item {
  padding: 0 5px;
  left: -5px;
}


.tabs > .nav-item:before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(191,190,203,0.3);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition-duration: 0.7s;
}

.tabs > .nav-item.active {
  /* color: #fff; */
}

.tabs > .nav-item.active:before {
  transition-duration: 1s;
  background-color: rgba(191,190,203,0.9);
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.tab__content {
  position: absolute;
  background-color: rgba(191,190,203,0.9);
  top: 1rem;
  overflow: hidden;
  height: 0px;
  -webkit-transition: height 1s;
	-moz-transition: height 1s;
	transition: height 1s;
}

p, ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0;
}

.links {
  list-style: none;
  padding-left: 5px;
  position: absolute;
}

.links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.7rem;
  line-height: 1.4;
  letter-spacing: normal;
}

.collapse-button{
  position: absolute;
  cursor: pointer;
  display: inline;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
  color: rgb(200,201,212);
}

.triangle{
  fill: transparent;
  stroke: #464646;
  stroke-width: 2px;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}


@media screen and (max-width: 320px) {
    .wrapper {
      width: 100%;
    }
}

@media screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
  }
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
}


/**NEW**/


/* .collapse-button {
  transition-duration: 0.5s;
  position: absolute;
  height: 30px;
} */
